<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.covid.mapper.ChinadataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.covid.entity.Chinadata">
        <result column="Province" property="Province" />
        <result column="Country" property="Country" />
        <result column="Date" property="Date" />
        <result column="Confirmed" property="Confirmed" />
        <result column="Deaths" property="Deaths" />
        <result column="Recovered" property="Recovered" />
        <result column="Latitude" property="Latitude" />
        <result column="Longitude" property="Longitude" />
    </resultMap>
    
    <select id="selectAllData" resultMap="BaseResultMap">
    	select * from chinadata order by Confirmed
    </select>
    
    <select id="selectByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select * from chinadata where Date=#{date} order by Confirmed
    </select>
    
    <select id="selectByPName" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select * from chinadata where Province=#{pname} order by Confirmed
    </select>
    
    <select id="selectByDateAndPName" parameterType="java.lang.String" resultMap="BaseResultMap">
    	select * from chinadata where Province=#{pname} and Date=#{date}
    </select>
    
    <select id="selectConfirmedNumCovid" parameterType="java.lang.String" resultType="java.lang.Integer">
    	select sum(Confirmed) from chinadata where Date=#{date}
    </select>
    
    <select id="selectDeathsNumCovid" parameterType="java.lang.String" resultType="java.lang.Integer">
    	select sum(Deaths) from chinadata where Date=#{date}
    </select>
    
    <select id="selectRecoveredNumCovid" parameterType="java.lang.String" resultType="java.lang.Integer">
    	select sum(Recovered) from chinadata where Date=#{date}
    </select>

</mapper>
